/**
 * @file reddit.css
 *
 * A file containing all of the styling used for the reddit data serviced to
 * the "ytpa" application.
 */

.embed{
    background: #fff;
    -webkit-box-sizing: border-box;
}
 
.embed-content {
    border-bottom: 1px solid #f6f6f6;
    padding: 20px;
}
 
.embed-list {
    margin: 0;
    padding: 0;
}
 
.embed-list-item {
    margin-top: 0;
    list-style: none;
    margin-top: 24px;
}
 
.embed-comment {
 
}
 
.embed-comment-header {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 
.embed-author {
    color: #6f6f6f;
    font-weight: bold;
}
 
.embed-comment-body {
    margin: 10px 0 0;
}
 
.embed-comment-meta {
        font-size: 12px;
    float: right;
}
 
.embed-comment-meta-item {
    color: #6f6f6f;
}
 
.embed-footer {
    background: #fafbfd;
    display: table;
    font-size: 12px;
    height: 56px;
    padding: 20px;
    padding-right: 114px;
    position: relative;
    /*width: 100%;*/
    -webkit-box-sizing: border-box;
}
 
.embed-footer p {
        display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
 
.embed-footer p a {
    color: #369;
    text-decoration: none;
}
 
.frame {
    width: 250px;
    display: block;
    max-width: 800px;
    min-width: 220px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 5px 0.5px;
    border: 1px solid rgba(199, 199, 199, 0.54902);
    box-sizing: border-box;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
 
.md {
    font-size: 1.0769230769230769em;    
    font-weight: 400;
    color: #222222;
    max-width: 60em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
