/**
 * @file ytpa.css
 *
 * A file containing all of the supplementary sheet styling used for the
 * "ytpa" application.
 */

#ytpa-header {
    padding-bottom: 10px;
}

.ytpa-video-tooltip {
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
}

.dropdown-menu.open {
	width: 100%;
}

#ytpa-playlist + div li > a > span:first-child {
    text-overflow: ellipsis;
    width: 100%;
}