/**
 * @file config.js
 *
 * The configuration script for the "ytpa" application, which loads all
 * client-specific data and configuration.
 */

// NOTE(JRC): There is going to be a problem here related to how GitHub web hosting
// works.  Since GitHub hosting requires that the code for the website exist on
// a public repository branch, the Google AppID for "ytpa" must be public to
// allow the GitHub host to send YouTube requests.  For more information, see
// https://developers.google.com/console/help/new/#apikeybestpractices.

var ytpa.config = {
    // TODO(JRC): Fill in the application ID for the "ytpa" instance here.
    // To view or generate the ID, go to https://console.developers.google.com/start.
    appid: "",

    // TODO(JRC): Fill in your user identifier (i.e. Google account name) here.
    appuser: "",
};
