/**
 * @file config.js
 *
 * The configuration script for the "ytpa" application, which loads all
 * client-specific data and configuration.
 */

( function( ytpa, $, undefined ) {
    // TODO(JRC): Make this variable private once the main script is adjusted
    // to the new library style.
    ytpa.config = {
        // TODO: Fill in your user name for the application here.
        appuser: "",
        // TODO: Fill in the API key for the application here.
        appid: "",
    };
}( window.ytpa = window.ytpa || {}, jQuery ));
