/**
 * @file config.js
 *
 * The configuration script for the "ytpa" application, which loads all
 * client-specific data and configuration.
 */

( function(ytpa, $, undefined) {
    /// Public Members ///

    var config = config || {};

    // TODO: Fill in your user name for the application here.
    config.appuser = '';

    // TODO: Fill in the API key for the application here.
    config.appid = '';

}(window.ytpa = window.ytpa || {}, jQuery) );
